.explan__title {
	max-width: 1130px;
	width: fit-content;
	font-size: 35px;
	font-weight: 400;
	padding: 20px 60px;

	& span {
		color: $accent;
	}

	@media (max-width: $tablet) {
		font-size: 30px;
		padding: 16px 30px;
	}

	@media (max-width: $mobile-l) {
		padding: 16px 22px;
		font-weight: 500;
	}

	@media (max-width: $mobile-m) {
		font-size: 24px;
	}
}

.explan__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 70px 90px;
	margin-top: 30px;

	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
		gap: 50px;
	}

	@media (max-width: $mobile-l) {
		gap: 22px;
	}

	& b,
	& strong {
		color: $accent;
		font-weight: inherit;
	}
}

.explan__content-text {
	letter-spacing: .04em;

	p {
		margin: 16px 0;
	}

	& ul {
		margin: 36px 0;

		@media (max-width: $mobile-l) {
			margin: 24px 0;
		}

		& li {
			position: relative;
			margin-left: 20px;
			padding-left: 20px;

			&:not(:last-child) {
				margin-bottom: 30px;

				@media (max-width: $tablet) {
					margin-bottom: 20px;
				}

				@media (max-width: $mobile-l) {
					margin-bottom: 10px;
				}
			}

			&::before {
				content: '';
				position: absolute;
				top: 14px;
				left: 0;
				min-width: 6px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $text-primary;

				@media (max-width: $tablet) {
					margin-top: 12px;
				}
			}

			@media (max-width: $mobile-l) {
				margin-left: 10px;
			}
		}
	}

	& span {
		color: $accent;
	}

	& > * {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.explan__btn {
	max-width: 350px;
	margin-top: 40px;

	@media (max-width: $mobile-l) {
		max-width: 240px;
	}

	@media (max-width: $mobile-m) {
		max-width: 220px;
	}
}