.header-area {
	width: 100%;
}

.header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	color: $light;
	background: $text-primary;
	padding: 20px 0;
	transition: background-color $tr;

	&.is-fixed {
		position: fixed;
		transition: transform $tr, background-color $tr;

		&.is-show {
			transform: translateY(100%);
		}

		&.is-fill {
			background-color: $text-primary;
		}

		&.is-blur {
			background-color: create-rgba($text-primary, .5);
		}
	}

	&.page-index {
		background: transparent;
	}

	&.without-main-screen {

		&.is-fixed {

			& .logo {

				& .logo__path-main {

					& path {
						fill: #F2F4F6;
					}
				}

				& .logo__path-accent {

					& path {
						fill: $accent-second;
					}
				}
			}
		}

		& .explan {

			& .explan__content {
				grid-template-columns: .8fr	1.2fr;

				@media (max-width: $tablet) {
					grid-template-columns: 1fr;
				}
			}

			& .explan__content-text {

				& ul {

					li {

						&:not(:last-child) {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	&:not(.has-logo-stable) {

		@media (max-width: $hide-menu) {

			& .logo .logo__path-main {

				& path {
					fill: $text-primary;
				}
			}

			& .logo .logo__path-accent {

				& path {
					fill: $accent;
				}
			}
		}
	}

	@media (max-width: 900px) {
		margin-top: 0;
	}

	@media (max-width: $hide-menu) {
		background: transparent;
		padding: 16px 0;
	}
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	max-width: 180px;
	display: flex;

	@media (max-width: 900px) {
		max-width: 150px;
	}

	@media (max-width: $mobile-l) {
		max-width: 122px;
	}
}

.menu {
	--padding-right: 67px;

	@media (max-width: $hide-menu) {
		position: fixed;
		z-index: 2;
		top: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: flex-end;
		background-color: rgba(0,0,0,0);
		pointer-events: none;
		transition: background-color $tr;

		&.is-show {
			background-color: create-rgba($text-primary, .5);
			pointer-events: fill;


			& .menu__wrap {
				transform: translate(0);
			}
		}
	}
}

.menu__wrap {

	@media (max-width: $tablet) {
		position: relative;
		max-width: 315px;
		width: 100%;
		height: 100%;
		transform: translate(100%, 0);
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		background: $text-primary;
		padding: 40px var(--padding-right) 100px 0;
		overflow-y: auto;
		transition: $tr;

		@include scrollbar(8px, 100%);
	}
}

.menu__content {

	@media (max-width: $hide-menu) {
		margin-top: 48px;
	}
}

.menu__list {
	display: flex;
	align-items: center;
	padding: 0 24px;

	& li {
		font-size: 21px;

		&:not(:last-child) {
			margin-right: 50px;

			@media (max-width: 900px) {
				margin-right: 24px;
			}

			@media (max-width: $hide-menu) {
				margin: 0;
			}

			& a {

				@media (max-width: $hide-menu) {
					margin: 0 0 35px 0;
				}
			}
		}

		a {

			@media (max-width: $hide-menu) {
				display: inline-block;
				width: 100%;
				text-align: right;
			}
		}

		@media (max-width: 900px) {
			font-size: 18px;
		}

		@media (max-width: $hide-menu) {
			width: 100%;
			font-size: 21px;
		}

		&.has-sub-menu {
			position: relative;

			@media (min-width: $hide-menu + 1px) {

				&:hover {

					& .sub-menu {
						opacity: 1;
						pointer-events: fill;
						transform: translate(-50%, calc(100% + 50px));
					}
				}
			}

			@media (max-width: $hide-menu) {
				// text-align: right;

				& > a {
					margin-bottom: 12px;
				}
			}
		}
	}


	@media (max-width: $hide-menu) {
		flex-direction: column;
		align-items: flex-end;
		padding: 0;
	}
}

.sub-menu {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, calc(100% + 70px));
	background: $text-primary;
	border-radius: 8px;
	padding: 10px 0;
	opacity: 0;
	pointer-events: none;
	transition: $tr;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		transform: translateY(-100%);

		@media (max-width: $hide-menu) {
			display: none;
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 24px;
		height: 24px;
		background: $text-primary;
		border-radius: $radius-s;

		@media (max-width: $hide-menu) {
			display: none;
		}
	}

	& li {
		width: 100%;

		& a {
			display: inline-block;
			width: 100%;
			font-size: 18px;
			font-weight: 100;
			text-align: center;
			padding: 2px 6px;

			@media (max-width: $hide-menu) {
				font-size: 18px;
				text-align: right;
				padding: 0;
				opacity: .8;
			}
		}

		@media (max-width: $hide-menu) {

			&:not(:last-child) {

				& a {
					margin-bottom: 4px;
				}
			}

		}
	}

	@media (max-width: $hide-menu) {
		position: initial;
		transform: none;
		opacity: 1;
		pointer-events: fill;
		padding: 0;
	}
}

.menu__tools {
	display: none;
	// display: flex;
	flex-direction: column;

	@media (max-width: $hide-menu) {
		display: flex;
		align-items: flex-end;
		margin-top: 35px;

		& > * {

			&:not(:last-child) {
				margin-bottom: 35px;
			}
		}
	}
}

.header__tools {
	display: flex;
	align-items: center;

	& > * {

		&:not(:last-child) {
			margin-right: 50px;

			@media (max-width: 900px) {
				margin-right: 24px;
			}
		}
	}

	@media (max-width: $hide-menu) {
		display: none;
	}
}

.header__burger {

	@media (max-width: $hide-menu) {
		display: block;
	}
}

.header__tools-item {
	font-size: 21px;


	@media (max-width: 900px) {
		font-size: 18px;
	}

	@media (max-width: $hide-menu) {
		font-size: 21px;
	}
}

.header__tools-item_login {

}

.header__tools-item_free {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		height: 1px;
		background: $light;
		transition: $tr;
	}

	&:active {
		background: $accent;
	}

	@media (any-hover: hover) {

		&:hover {

			&::before {
				background: $accent;
			}
		}

		&:active {
			background: brig-color($accent, active);
		}
	}
}

.menu__burger {
	// position: absolute;
	// top: 70px;
	// right: var(--padding-right);

	@media (max-width: $hide-menu) {
		--size: 24px;

		display: block;
		// width: 24px;

		& span {
			width: 100%;
		}
	}
}