.s-solutions__body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;

	@media (max-width: $laptop) {
		gap: 40px
	}

	@media (max-width: $tablet) {
		gap: 20px;
	}

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
		gap: 50px;
	}
}