.stream__header {
	margin-bottom: 70px;

	@media (max-width: $mobile-l) {
		margin-bottom: 46px;
	}

	@media (max-width: $mobile-m) {
		margin-bottom: 32px;
	}
}

.stream__body {
	display: flex;
	align-items: center;

	// display: grid;
	// grid-template-columns: 1fr 1fr;
	// gap: 0 90px;

	@media (max-width: 930px) {
		flex-direction: column-reverse;
	}
}

.stream__content {
	max-width: 600px;
	margin-right: 90px;

	@media (max-width: 930px) {
		margin: 60px 0 0 0;
	}

	@media (max-width: $mobile-l) {
		margin-top: 32px;
	}
}

.stream__text {

	@media (max-width: $tablet) {

	}
}

.stream__btn {
	margin-top: 76px;

	@media (max-width: $mobile-l) {
		margin-top: 46px;
	}
}

// .stream__img {
// 	min-width: 400px;
// 	width: 100%;
// 	height: 100%;

// 	@media (max-width: 930px) {
// 		max-width: 500px;
// 		min-width: auto;
// 	}
// }

.stream__slider-container {
	position: relative;
	min-width: 400px;
	width: 100%;
	height: 100%;

	@media (max-width: 930px) {
		max-width: 500px;
		min-width: auto;
	}
}

.stream__slider-bg {
	width: 100%;
	height: 100%;
}

.stream__slider {
	position: absolute;
	top: 3%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 95%;
	height: 63%;
}

.swiper-wrapper {

}

.swiper-slide {

}

.stream__slider-img {

}

.stream__img {
	width: 100%;
	height: 100%;

	& img {
		object-fit: cover;
	}
}