.content.page-about {

	& .explan__content {
		grid-template-columns: minmax(min-content, 567px) 1fr;

		@media (max-width: $container-width + px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}

	& .explan__content-text {
		letter-spacing: .04em;
	}
}