.content.page-media-storage {

	& .explan__container {
		display: grid;
		grid-template-columns: minmax(min-content, 410px) minmax(min-content, 640px);

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}

	& .explan__title {
		padding: 20px 24px;

	}

	& .explan__body {

		@media (max-width: $tablet) {
			margin-top: 40px;
		}
	}

	& .explan__content {
		grid-template-columns: 1fr;
		letter-spacing: .04;
		margin: 0;
	}

	& .trans-why__icon {
		width: 100px;
		height: 100px;

		@media (max-width: $mobile-l) {
			width: 85px;
			height: 85px;
		}
	}

	& .trans-why__block-title {
		margin: 16px 0 0 0;

		@media (min-width: $mobile-l + 1px) {
			min-height: 90px;
			display: flex;
			align-items: center;
		}
	}

	& .trans-how__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 70px;

		@media (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	& .trans-how__ill {
		max-width: 475px;
		margin: 0 auto;
	}
}