.page-transcoding {

	& .explan {

		& .explan__content {
			grid-template-columns: .8fr	1.2fr;

			@media (max-width: $tablet) {
				grid-template-columns: 1fr;
			}
		}

		& .explan__content-text {

			& ul {

				li {

					&:not(:last-child) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}