@use "sass:math";

// Миксины
@import "./mixins";

// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300..800&display=swap');

// Переменные
// Текст
$text-primary: #343434;
// $text-second: brig-color($text-primary, .7);
// $text-accent: #FFCD6D;
// $link-active: brig-color(#FFCD6D, active);
$accent: #FF3F3F;
$accent-second: #31FDF1;
$light: #F2F4F6;

// Задний фон разделов
// $frame-dark: #080A0A;
// $frame-light: #F2F4F6;

// Обводка
$border-line: #AEAEAE;
// $input-placeholder: brig-color(#000, .3);
$radius-s: 4px;
$radius-m: 20px;

$error: #EB5757;

// Текстовые поля
// $tf-label: $text-second;

// ================ Colors End ================


// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1200;
$container-padding: 48;
$container-width: $max-width-container + $container-padding;

:root {
	--container-padding: #{math.div($container-padding, 2) + 'px'};
}

$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 320px;
$hide-menu: $tablet;
// ================ Responsive End ================


// ================ Other Start ================
$ff-main: 'Manrope', sans-serif;
$tr: .3s;
// ================ Other End ================
//========================================================================================================================================================

// Сброс CSS
@import "./reset";

body {
	background: $light;

    ._lock & {
        overflow: hidden;
		touch-action: none;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
		background: $light;
    }
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
[class*="__container"],
.container {
    @if ($max-width-container>0) {
        max-width: $max-width-container + px;
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($container-padding>0) {
        padding: 0 var(--container-padding);
    }

    @media (max-width: $mobile-l) {
		--container-padding: 16px;
    }
}

@import './libs/swiper';
@import './libs/nouislider';

// Общие стили проекта
@import "./common";

// Базовые стили, шаблоны, заготовки
@import "./base";

@import "./components/cards/c-solutions";


@import "./components/modals/m-plan";
@import "./components/modals/m-loop";


// Стили частоиспользуемых секций
@import "./sections/header";
@import "./sections/main";
@import "./sections/why-us";
@import "./sections/stream";
@import "./sections/solut/solut";
@import "./sections/reviews";
@import "./sections/explan";
@import "./sections/how";
@import "./sections/s-solutions";
@import "./sections/s-table";
@import "./sections/trans-why";
@import "./sections/trans-how";
@import "./sections/calc";
@import "./sections/footer";

@import "./pages/transcoding";
@import "./pages/about";



// Стили для отдельных страниц
// @import "./pages/";